header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 520px;
  width: 100%;
  padding-top: 120px;
  background-color:#ccbb00;
  background-image: url("https://www.transparenttextures.com/patterns/argyle.png");
}

header > name {
  color:white;
}