nav {
  display: flex;
  height: 120px;
  width: 100%;
  font-family: 'Bungee', sans-serif;
  background-color: #4056A1;
  color: #FFFFFF;
  justify-content: space-between;
  position: fixed;
}

nav > span {
  font-size: 45px;
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-bottom: .5em;
  align-self: flex-end;
}

.write-tweet {
  margin-bottom: 0;
}

.rightside {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1.5em;
  font-family: 'Source Sans Pro', sans-serif;
  flex-direction: column;
}
.fa-angles-down {
  color: red;
}